/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav li {
  list-style: none;
  display: inline-block;
}

nav {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-right: 15px;
}

#main-title {
  text-align: center;
  margin-top: 30px;
  font-family: 'Helvetica';
  font-size: 45px;
  text-transform: uppercase;
  color: #2c185d;
  /*text-shadow: 5px 5px 0px #eee, 7px 7px 0px #707070;*/
}

.section-title {
  text-align: center;
  font-size: 35px;
}

#current-session-user-schedule {
  border: 1px black dashed;
}

body {
  background-color: #7afeda;
  font-family: 'Helvetica';
}

.container {
  border: 1px solid black;
  margin: 20px auto;
  width: 850px;
  padding: 0px 20px 20px 20px;
}
