<!DOCTYPE html>
<html>
  <head>
    <title>DiveBooksCamp Scheduler</title>
    <%= csrf_meta_tags %>

  </head>
  <nav>
    <%= link_to_if(session[:user_id], "Logout", destroy_session_path) do end %>
  </nav>
  <body>
    <%= notice %>
    <%= yield %>
  </body>
</html>
